# Copie este arquivo para um novo arquivo chamado .env e insira as credenciais do seu Supabase
# NÃO envie o arquivo .env final para o seu repositório Git público!

VITE_SUPABASE_URL=https://seu-projeto-supabase.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6...
